<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mylisabox.lisa">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".LISAApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.mylisabox.lisa.utils.image.SvgModule"
            android:value="GlideModule"/>

        <activity android:name=".home.HomeActivity">
        </activity>
        <activity android:name=".login.LoginActivity"/>
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".wearable.receivers.WearLoadDataReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="load"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".wearable.receivers.WearSpeechDataReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="speech"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".wearable.receivers.WearDeviceDataReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="device"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".wearable.MobileWearableListener"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>

                <data
                    android:host="*"
                    android:pathPrefix="/lisa"
                    android:scheme="wear"/>
            </intent-filter>
        </service>

        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/title_profile">
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>